<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marcar presencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion>
      <ion-item slot="header" color="light">
        <ion-label>{{curso}}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-label>Docente:</ion-label>
            <ion-label slot="end">{{profesor}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-item lines="none" class="ion-text-center">
    <ion-label>Latitud: {{latitud}}</ion-label>
    <ion-label>Latitud: {{longitud}}</ion-label>
  </ion-item>

  <ion-button expand="block" class="ion-padding" (click)="marcarPresente()">Confirmar asistencia</ion-button>
</ion-content>
