<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center ion-padding">Ingresa tu correo <br>institucional</ion-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Correo institucional" type="email" class="ion-padding" formControlName="correo"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="ion-padding" type="submit">Restablecer contraseña</ion-button>
  </form>

  
  <ion-button expand="block" class="ion-padding" fill="clear" routerLink="/login">Volver al inicio</ion-button>


</ion-content>


