<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de cursos
    </ion-title>
    <ion-icon name="log-out" slot="end" size="large" color="warning" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="ion-text-center" *ngIf="cursos.length===0">
    <ion-label>No hay cursos registrados</ion-label>
  </ion-item>

  <ion-accordion-group *ngIf="!(cursos.length===0)">
    <ion-accordion *ngFor="let curso of cursos">
      <ion-item slot="header" color="light">
        <ion-label>{{curso.nombre + '_' + curso.seccion}}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngIf="cursosService.listaAlumnos(curso.id).length === 0">
            <ion-label class="ion-text-center">No hay alumnos registrados</ion-label>
          </ion-item>

          <ion-item *ngFor="let idAlumno of cursosService.listaAlumnos(curso.id)">
            <ion-label>{{alumnosService.encontrarAlumnoPorId(idAlumno).nombre}}</ion-label>
            <ion-label slot="end">{{claseService.calcularAsistenciaAlumno(idAlumno, curso.id)}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
